{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    {% include "Base/navbar.html.twig" %}
<div class="block-main">
    <h1>Episodes</h1>

    <a href="{{ path('episode_new') }}">Créer un épisode</a>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Numéro</th>
                <th>Synopsis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {'slug': episode.slug}) }}">Visualiser</a>
                    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun épisode</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}