{% extends 'base.html.twig' %}

{% block title %}Programmes{% endblock %}

{% block body %}
    {% include "Base/navbar.html.twig" %}
    <div class="block-main">
        <h1>Programmes</h1>

        <a href="{{ path('program_new') }}">Creer un programme</a>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Résumé</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for program in programs %}
                <tr>
                    <td>{{ program.id }}</td>
                    <td>{{ program.title }}</td>
                    <td>{{ program.summary }}</td>
                    <td>{{ program.poster }}</td>
                    <td>
                        <a href="{{ path('program_show', {'slug': program.slug}) }}">Visualiser</a>
                        <a href="{{ path('program_edit', {'slug': program.slug}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas de programme</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
