{% extends 'base.html.twig' %}
{% block title %}Episode{% endblock %}

{% block body %}
    {% include "Base/navbar.html.twig" %}

    <div class="block-main text-center">
        <h1 class="text-center">{{ program.title }}</h1>
        <p>Episode {{ episode.number }}: {{ episode.title }}</p>
        <p>Saison {{ season.id }}: {{ season.year }}</p>
        <p>{{ episode.synopsis }}</p>
        {% for comment in comments %}
            <p>Commentaire {{ loop.index }} : {{ comment.comment }}</p>
            <p>Note : {{ comment.rate }}</p>
            <p>Commentaire de : {{ comment.user.email }}</p>

            {% if is_granted("ROLE_SUBSCRIBERAUTHOR") and app.user%}
                <a href="{{ path('wild_delete', {'id' : comment.id}) }}">Supprimer le commentaire</a>
            {%endif%}

            <hr>
            <br/>
        {% endfor %}

        {% if app.user %}
            <a href="{{ path('wild_comment', {'id' : episode.id}) }}"> Laisser un Commentaire </a>
            <br/>
        {% endif %}

        <a href="{{ path('wild_season', {'id' : season.id}) }}">
            Retour aux détails
        </a>
    </div>

{% endblock %}